body{
    margin: 10px;
}

fieldset{
    margin: 15px 3px;
}

fieldset#sexo{
    width: 150px;
}

label{
    cursor: pointer;
}

input{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1em;
}

input:hover, textarea:hover{
    background-color: #ddd;
}

.botao{
    margin: 0 3px;
    background-color: #0000ff;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}