/* Paleta de Cores: 
    -#C1272D
    -#613032
    -#AD2327
    -#E02D33
    -#E6494F */

*{
    margin: 0px;
    padding: 0px;
}

root{
    --cor_borda: #613032;
    --corbg: #EB0013;
    --corletratitulo: #0B5035;
}

header{
    background-image: url(imagens/bandeira.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #EB0013;
    padding: 110px;
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 2px solid #613032;
    background-color: #EB0013;
}

nav a{
    font-size: 1.2em;
    text-decoration: none;
    color: #0B5035;
    font-weight: 600;
}

nav a:hover{
    text-decoration: underline;
    color: white;
    transition: 0.5s;
}

main{
    border-left: 2px solid #613032;
    border-right: 2px solid #613032;
    padding: 10px;
    margin: auto;
    width: 80%;
    box-shadow: 1px 1px 5px #613032;
}

main h2{
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
}

.tabela{
    display: flex;
    align-items: center;
    justify-content: center;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

td, th{
    border: 1px solid black;
    padding: 10px 40px 10px 40px;
}

main h3, h4{
    padding: 10px;
    font-size: 1.3em;
}

main p{
    margin: 15px;
    padding-bottom: 10px;
    font-size: 1.2em;
    letter-spacing: 1px;
}

hr{
    margin: 20px;
}

.jogador{
    width: 50%;
}

.img{
    text-align: center;
}

figure{
    text-align: center;
}

img{
    width: 80%;
}

ul{
    padding-left: 50px;
}

li{
    font-weight: 500;
    margin: 5px;
}

.espaco{
    padding-bottom: 10px;
}

footer{
    text-align: center;
    padding: 10px;
    border-top: 2px solid #613032;
    letter-spacing: 1px;
    color: #0B5035;
    font-weight: bold;
}

footer p{
    margin: 5px;
}

@media (max-width: 650px){
    header{
        background-image: url(imagens/bandeira.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #EB0013;
        padding: 110px;
        display: flex;
        justify-content: center;
    }
    
    nav{
        display: flex;
        justify-content: space-around;
        padding: 10px;
        border-bottom: 2px solid #613032;
        background-color: #EB0013;
    }
    
    nav a{
        font-size: 1em;
        text-decoration: none;
        color: #0B5035;
        letter-spacing: 1px;
        font-weight: 600;
    }
    
    nav a:hover{
        text-decoration: underline;
        color: white;
        transition: 0.5s;
    }
    
    main{
        border-left: 2px solid #613032;
        border-right: 2px solid #613032;
        padding: 10px;
        margin: auto;
        width: 80%;
        box-shadow: 1px 1px 5px #613032;
    }
    
    main h2{
        padding: 10px;
        font-size: 1.3em;
        text-align: center;
    }
    
    .tabela{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    table{
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
    }
    
    td, th{
        border: 1px solid black;
        padding: 10px 15px 10px 15px;
    }
    
    main h3, h4{
        padding: 10px;
        font-size: 1.3em;
    }
    
    main p{
        margin: 15px;
        padding-bottom: 10px;
        font-size: 1em;
        letter-spacing: 1px;
    }
    
    hr{
        margin: 20px;
    }
    
    .img{
        text-align: center;
    }
    
    figure{
        text-align: center;
    }
    
    img{
        width: 95%;
    }
    
    ul{
        padding-left: 50px;
    }
    
    li{
        font-weight: 500;
        margin: 5px;
    }
    
    .espaco{
        padding-bottom: 10px;
    }
    
    footer{
        text-align: center;
        padding: 10px;
        border-top: 2px solid #613032;
        letter-spacing: 1px;
        color: #0B5035;
        font-weight: bold;
    }
    
    footer p{
        margin: 5px;
    }
}