/* Paleta de Cores: 
    -#C1272D
    -#613032
    -#AD2327
    -#E02D33
    -#E6494F */

*{
    margin: 0px;
    padding: 0px;
}

root{
    --cor_borda: #613032;
    --corbg: #EB0013;
    --corletratitulo: #0B5035;
}

header{
    background-image: url(imagens/bandeira.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: var(--corbg);
    padding: 110px;
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 2px solid var(--cor_borda);
    background-color: #EB0013;
}

nav a{
    margin-left: 15px;
    font-size: 1.2em;
    text-decoration: none;
    color: #0B5035;
    font-weight: 600;
}

nav a:hover{
    text-decoration: underline;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
}

main{
    border-left: 2px solid #613032;
    border-right: 2px solid #613032;
    padding: 10px;
    margin: auto;
    width: 80%;
    box-shadow: 5px 5px 3px var(--cor_borda);
}

main h2{
    padding: 10px;
    font-size: 1.5em;
}

main p{
    margin: 15px;
    padding-bottom: 10px;
    font-size: 1.2em;
    letter-spacing: 1px;
}

footer{
    text-align: center;
    padding: 10px;
    border-top: 2px solid #613032;

}

footer p{
    margin: 5px;
}